.navbar-container {
    height: 100%;
    width: 100%;

    & > .navbar-wrapper {
        min-width: 500px;
    }
}

.navbar-link {
    color: #f7ede2;

    & > * {
        margin: 0;
    }

    &.isActive {
        text-decoration: underline 4px solid #f7ede2;
    }

    &:hover {
        text-decoration: none;
        color: #f6bd60;

        &.isActive {
            text-decoration: underline 4px solid #f6bd60;
        }
    }
}
