body, html {
    padding: 0;
    margin: 0;
}

.app-container {
    height: 100vh;

    &>.content-container {
        padding: 0 3rem;

        &>.content-wrapper {
            background-color: white;
            border-radius: 10px;
            padding: 24px;
            height: 90%;
        }
    }
}
